<h3>Is it What You Want to Tweet ?</h3>

<%= form_with(model: @tweet, url: tweets_path, local: true) do |form| %>
    <%= form.hidden_field :content %>

    <p>Body:<%= @tweet.content %></p>
  <%= form.submit  "Submit" %>
<% end %>
